html {
  font-size: 62.5%;
}


body {
  margin: 0;
  font: 400 11px/1.4 'Cutive Mono', 'sans-serif';
  color: #000000;
  background-color: #9C9C6E;
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
